/*imports*/ 
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

html {
	font: 100%/1em 'Roboto', sans-serif;
}

body {
	font-size: 1em; /* 16px / 16px */
	color: #353738;
	overflow-y: hidden;
}

hr {
	margin: 1em 0;
	height: 1px;
	background: #d3d3d3;
	border: none;
	width: 100%;
	clear: both;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.band .columns {
	padding-top: 0;
	padding-bottom: 0;
}

header.band {
	background: black;
	color: white;
	text-align: center;
	padding: 10% 0 15% 0;
}

#about-me{
	z-index: 999;
}

h1, h2, h3 {
	line-height: 1em;
	font-family: 'Roboto', serif;
	font-weight: 700;
	text-align: center;
}

header.band h1 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.6em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h3 {
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

a.button {
	background: #e33f0c;
	text-align: center;
	padding: .5em 1em;
	color: white;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0 0.2em 0 #ab3009;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	/*transition cross-browser stuff*/
	-webkit-transition: background 0.2s ease-out;  /* Safari 3.2+, Chrome */
	-moz-transition: background 0.2s ease-out;  /* Firefox 4-15 */
	-o-transition: background 0.2s ease-out;  /* Opera 10.5Ð12.00 */
	transition: background 0.2s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

a.button:hover {
	background: #ab3009;
}

footer {
	font-size: 0.8em;
	text-align: center;
}

.last a {
	margin: 0 1em;	
}

.social-tuts {
	color: #E36316;
}

.social-dribbble {
	color: #c5376d;
}

.social-facebook {
	color: #3B5998;
}

/*---------------*/
/***** Marley *****/
/*---------------*/

/* Common style */
figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 700px;
	background: brown;
	text-align: center;
	cursor: pointer;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

figure img {
	position: relative;
	display: block;
	min-height: 100%;
}

figure h2{
	text-align: right;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 3px;
	font-size: 68.5%;
}

figure.effect-marley figcaption {
	text-align: right;
}

figure.effect-marley h2,
figure.effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}


figure.effect-marley p {
	bottom: 30px;
	line-height: 1.5;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-marley h2 {
	top: 30px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
	position: absolute;
	top: 100%;
	right: 0;
	width: 70%;
	height: 4px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-marley img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,10px,100px);
	transform: translate3d(0,10px,100px);
}

figure.effect-marley:hover img {
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*as we don't haver many media queries, we'll stick them all here*/
@media only screen and (min-width: 690px) { 
	
	body {
		font-size: 1.125em; /* 18px / 16px */
		line-height: 1.7em;
	}
	
	div.band .columns {
		padding-top: 0em;
		padding-bottom: 0em;
	}

	header.band {
		margin: 0 auto;
		width: 100%;
		background-repeat: no-repeat;
		background-image:url(../img/backgrounds/background1.jpg);
		background-size: 150%;
		-webkit-perspective: 1000px;
		perspective: 1000px;
	}

	.logo{
		left: 15px;
		z-index: 100;
		position: fixed;
		height: 10em;
	}

	#logo{
		width: 10em;
	}

	header.band h1 {
		font-size: 3.25em; /*52 / 16*/
	}

	.headliner {
		text-align: center;
	}

	#three{
		margin-top: -1em;
	}

	.banner {
		background-color: black;
		padding: .9em 1em;
		color: white;
		width: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 998;
	}

	.top-moon{
		background-image: url(../img/icons/moon2.png);
		top: 20%;
		z-index: 10;
		background-repeat: no-repeat;
		background-size: 48%;
		height: 61%;
		position: absolute;
	}

	section {
		width: 100%;
		overflow: hidden;
/*		background-repeat: no-repeat;
		background-image: url(../img/backgrounds/bridge.jpg);
		background-size: 120%;
		height: 38em;*/
	}

	.bottom-holder a{
		
	}

	#bridge{
		width: 100%; 
		position: relative;
		height: 300px;
	}

	#portrait{
		float: right;
		margin: 2em;
	}

	.row{
		margin-left: 2em;
		padding: 2px;
	}

	#contact a{
		text-decoration: none;
		color: black;
	}

	#contact a:hover{
		text-decoration: underline;
	}

	#contact a:visited{
		color: black;
		text-decoration: none;
	}

	a.button{
		padding: .75em 1.5em;
	}
	
	footer {
		text-align: left;
	}

	.last{
		text-align: right;
	}

}

@media only screen and (max-width: 689px) { 
	
	body{
		width: 100%;
		font-size: .6em; /* 18px / 16px */
		line-height: 1em;
	}

	#about-me{
		font-size: 2em; /* 18px / 16px */
		line-height: 1.7em;
	}
	
	div.band .columns {
		padding-top: 0em;
		padding-bottom: 0em;
	}

	header.band {
		margin: 0 auto;
		width: 100%;
		background-repeat: no-repeat;
		background-image:url(../img/backgrounds/background1.jpg);
		background-size: 150%;
	}

	header.band h1 {
		font-size: 3.25em; /*52 / 16*/
	}

	.headliner {
		text-align: center;
	}
	.coffee #coffee-name{
		float: right;
		width:50%;
	}
	.banner {
		background-color: black;
		padding: .9em 1em;
		color: white;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	.top-moon{
		background-image: url(../img/icons/moon2.png);
		top: 20%;
		z-index: 0;
		background-repeat: no-repeat;
		background-size: 48%;
		height: 13em;
		position: absolute;
	}

	.logo{
		top: 8px;
		left: 8px;
		z-index: 100;
		position: fixed;
		height: 8.3em;
	}

	#logo{
		width: 80px;
	}

	#bridge{
		width: 100%;
		position: relative;
		left: 0%;
	}
	figure{
		height: 300px;
	}

	#three{
		margin-top: -1em;
	}

	section {
		width: 100%;
		overflow: hidden;
/*		background-repeat: no-repeat;
		background-image: url(../img/backgrounds/bridge.jpg);
		background-size: 120%;
		height: 38em;*/
	}

	.container.projects{
		float: none !important;
		margin: 0 auto;
	}

	.bottom-holder{
		font-size: 1em;
	}

	.row{
		font-size: .7em;
		margin-left: 2em;
		padding: 2px;
	}

	#portrait{
		float: right;
		margin: 3em;
	}

	#contact a{
		text-decoration: none;
		color: black;
	}

	#contact a:hover{
		text-decoration: underline;
	}

	#contact a:visited{
		color: black;
		text-decoration: none;
	}

	a.button {
		padding: .75em 1.5em;
	}
	
	footer {
		text-align: left;
	}

	.last {
		text-align: right;
	}

}