/*imports*/ 
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

html {
	font: 100%/1.5em 'Roboto', sans-serif;
}

body {
	font-size: 1em; /* 16px / 16px */
	color: #353738;
	overflow-y: hidden;
}

hr {
	margin: 1em 0;
	height: 1px;
	background: #d3d3d3;
	border: none;
	width: 100%;
	clear: both;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.band .columns {
	padding-top: 0;
	padding-bottom: 0;
}

header.band {
	background: black;
	color: white;
	text-align: center;
	padding: 10% 0 15% 0;
}


h1, h2, h3 {
	line-height: 1em;
	font-family: 'Roboto', serif;
	font-weight: 700;
	text-align: center;
}

header.band h1 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 1em;
}

h2 {
	font-size: 1.6em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h3 {
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

a.button {
	background: #e33f0c;
	text-align: center;
	padding: .5em 1em;
	color: white;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 0 0.2em 0 #ab3009;
	text-transform: uppercase;
	letter-spacing: 0.1em;

	/*transition cross-browser stuff*/
	-webkit-transition: background 0.2s ease-out;  /* Safari 3.2+, Chrome */
	-moz-transition: background 0.2s ease-out;  /* Firefox 4-15 */
	-o-transition: background 0.2s ease-out;  /* Opera 10.5Ð12.00 */
	transition: background 0.2s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

a.button:hover {
	background: #ab3009;
}

footer {
	font-size: 0.8em;
	text-align: center;
}

.last a {
	margin: 0 1em;	
}

.social-tuts {
	color: #E36316;
}

.social-dribbble {
	color: #c5376d;
}

.social-facebook {
	color: #3B5998;
}

/*as we don't haver many media queries, we'll stick them all here*/
@media only screen and (min-width: 690px) { 
	
	body {
		font-size: 1.125em; /* 18px / 16px */
		line-height: 1.7em;
	}
	
	div.band .columns {
		padding-top: 0em;
		padding-bottom: 0em;
	}

	header.band {
		margin: 0 auto;
		width: 100%;
		background-repeat: no-repeat;
		background-image:url(../img/backgrounds/background1.jpg);
		background-size: 150%;
	}

	.logo{
		left: 15px;
		z-index: 100;
		position: fixed;
		height: 10em;
	}

	#logo{
		width: 10em;
	}

	header.band h1 {
		font-size: 3.25em; /*52 / 16*/
	}

	.headliner {
		text-align: center;
	}

	#three{
		margin-top: -1em;
	}

	.banner {
		background-color: black;
		padding: .9em 1em;
		color: white;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	.top-moon{
		background-image: url(../img/icons/moon2.png);
		top: 20%;
		z-index: 0;
		background-repeat: no-repeat;
		background-size: 48%;
		height: 23em;
		position: absolute;
	}

	section {
		width: 100%;
		overflow: hidden;
/*		background-repeat: no-repeat;
		background-image: url(../img/backgrounds/bridge.jpg);
		background-size: 120%;
		height: 38em;*/
	}

	.bottom-holder a{
		
	}

	#bridge{
		width: 125%; 
		position: relative;
	}

	#portrait{
		float: right;
		margin: 2em;
	}

	.row{
		margin-left: 2em;
		padding: 2px;
	}

	#contact a{
		text-decoration: none;
		color: black;
	}

	#contact a:hover{
		text-decoration: underline;
	}

	#contact a:visited{
		color: black;
		text-decoration: none;
	}

	a.button {
		padding: .75em 1.5em;
	}
	
	footer {
		text-align: left;
	}

	.last {
		text-align: right;
	}

}

@media only screen and (max-width: 689px) { 
	
	body {
		width: 100%;
		font-size: .6em; /* 18px / 16px */
		line-height: 1em;
	}

	#about-me{
		font-size: 2em; /* 18px / 16px */
		line-height: 1.7em;
	}
	
	div.band .columns {
		padding-top: 0em;
		padding-bottom: 0em;
	}

	header.band {
		margin: 0 auto;
		width: 100%;
		background-repeat: no-repeat;
		background-image:url(../img/backgrounds/background1.jpg);
		background-size: 150%;
	}

	header.band h1 {
		font-size: 3.25em; /*52 / 16*/
	}

	.headliner {
		text-align: center;
	}

	.banner {
		background-color: black;
		padding: .9em 1em;
		color: white;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	.top-moon{
		background-image: url(../img/icons/moon2.png);
		top: 20%;
		z-index: 0;
		background-repeat: no-repeat;
		background-size: 48%;
		height: 23em;
		position: absolute;
	}

	.logo{
		top: 8px;
		left: 8px;
		z-index: 100;
		position: fixed;
		height: 8.3em;
	}

	#logo{
		width: 80px;
	}

	#bridge{
		width: 145%;
		position: relative;
		left: 0%;
	}

	#three{
		margin-top: -1em;
	}

	section {
		width: 100%;
		overflow: hidden;
/*		background-repeat: no-repeat;
		background-image: url(../img/backgrounds/bridge.jpg);
		background-size: 120%;
		height: 38em;*/
	}

	.bottom-holder{
		font-size: 1em;
	}

	.row{
		font-size: .7em;
		margin-left: 2em;
		padding: 2px;
	}

	#portrait{
		float: right;
		margin: 3em;
	}

	#contact a{
		text-decoration: none;
		color: black;
	}

	#contact a:hover{
		text-decoration: underline;
	}

	#contact a:visited{
		color: black;
		text-decoration: none;
	}

	a.button {
		padding: .75em 1.5em;
	}
	
	footer {
		text-align: left;
	}

	.last {
		text-align: right;
	}

}